/* General App Styles */
html, body {
  background-color: #040015;
}

.nav {
  max-height: 10vh;
}

.Chat {
  max-width: 50vw;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #040015;
  text-align: left !important;
  height: 80vh;
}

.message-area {
  overflow-y: auto;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60vw;
  align-self: center;
}

/* Scrollbar Styles */
.message-area::-webkit-scrollbar {
  width: 0.5rem;
  background: transparent;
  display: none;
}

.message-area::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.message-area::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}
