/* Login.css */

.login-body {
  font-family: 'Open Sans', sans-serif;
  background: #040015;
  color: black;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  background-color: #8a63d2;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: white;
  width: 80%;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup-container {
  background-color: #ffffff;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: white;
  width: 80%;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Harsheesha {
  height: 100vh;
  width: 100vw;
  background-color: #040015;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo-container img {
  width: 80px; 
}

.form-container {
  text-align: center;
  align-items: center !important;
  justify-content: center !important;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
}

label {
  margin-bottom: 8px;
  color: white;
}

.form-container input {
  padding: 8px;
  margin-bottom: 16px;
  background-color: #fff; 
  color: #040015; 
  border: none;
  border-radius: 4px;
}

.form-container button {
  background-color:#4a326f ;
  color: white; 
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.form-container button:hover {
  background-color: white;
  color: #4a326f;
}

.register-link {
  color:#fff
}

/* Base styles for the body and form elements */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.signup-form {
  max-width: 600px; /* Adjust as needed */
  margin: auto;
  width: 100%;
  padding: 20px;
  background: white;
  border-radius: 10px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.signup-form h2 {
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}

.signup-form p {
  color: #666;
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Style for input groups */
.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.input-group input,
.input-group select {
  width: 48%; /* Make input fields take up half the form width */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
}

/* Style for the submit button */
.signup-form button[type="submit"] {
  background-color: #4a326f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  width: calc(50% - 5px);
}

.signup-form button[type="submit"]:hover {
  background-color: #5a437a;
}

/* Style for the cancel button */
.signup-form button[type="button"] {
  background-color: #ccc;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  width: calc(50% - 5px);
}

.signup-form button[type="button"]:hover {
  background-color: #b3b3b3;
}

/* Style for the footer link */
.signup-form a {
  color: #333;
  text-align: center;
  display: block;
  margin-top: 20px;
}


.form-label {
  align-self: flex-start;
  display: block;
  margin-bottom: 8px;
  color: #666;; /* Adjust the color if needed for visibility */
  font-size: 1rem;
}

.form-select {
  margin-bottom: 16px;
  margin-left: 45px;
  width: 70% !important;
  background-color: #fff; 
  color: #666; /* This should be a color that shows up against the background */
  border: 1px solid #ddd;
  border-radius: 4px;
}


.dropdown-group {
  flex: 1; /* Each dropdown group will take up an equal amount of space */
  margin-right: 10px; /* Add some margin to separate the dropdowns */
}

.input-group {
  display: flex;
  flex-direction: row;
}

.preference-group {
  display: flex;
  gap: 100px;
  width: 100%;
  flex-direction: row;
}

.time-input-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 100px; /* Adjust the gap as needed */
}

.time-input-container {
  /* flex: 1; */
  min-width: 200px; /* Adjust the minimum width as needed */
}

.time-input-container label {
  display: block;
  color: #666; /* Adjust the color if needed */
  margin-bottom: 5px; /* Adjust the spacing as needed */
}

.time-input-container input[type="time"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  /* background-color: #fff; */
  color: #333;
}

/* Adjust this according to your needs to make sure it looks consistent on your form */
input[type="time"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  color: black  !important;
}